* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf5f8;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
  margin-top: 50px;
}
.field {
  font-weight: 500;
  font-size: 26px;
}
